
 li{
	list-style-type: none;
	display: inline;
}
.choose{
	margin: 5px 5px 5px 5px;
	width: 200px;
	margin-left: 50px;
	display: inline;
}
.Admin{
	font-size: 18px;
}
.enter{
	width: 200px;
	margin-left: 50px;
}
h1{
	font-size: 18px;
}
.header{
	width:800px;
}
.main{
	width: 800px;
	height: 400px;
}
.send{
	width: 50px;
	margin-left: 750px;
}
.back{
	width: 50px;
	margin-top: -38px;
}
.main_table{
	margin: 10, 10, 10, 10;
	width: 100%;
	height: 100%;
}
